.container {
    margin-top: 60px;  
  }
  
  .list {
    margin: 0;
    padding: 0 24px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    overflow-y: scroll;
    max-height: 316px;
  }
  
  .list::-webkit-scrollbar {
    width: 8px;
  }
  
  .list::-webkit-scrollbar-track {
    background-color: #2f2f37;  
  }
  
  .list::-webkit-scrollbar-thumb {
    height: 194px;
    background: #8585ad;
    border: 3px solid #8585ad;
  }