.list {
    margin: 0;
    padding: 0 8px 0 0;
    width: 608px;
    max-height: 745px;
    overflow-y: scroll;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .list::-webkit-scrollbar {
    width: 8px;
  }
  
  .list::-webkit-scrollbar-track {
    background-color: #2f2f37;
    margin-bottom: 68px;
  }
  
  .list::-webkit-scrollbar-thumb {
    height: 492px;
    background: #8585ad;
    border: 3px solid #8585ad;
  }