.header {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
}
.nav {
    max-width: 1280px;
    width: 100%;
}
.headerList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    align-items: center;
    justify-content: stretch;
    padding: 0;
    margin: 0;
}
.headerItem {
  display: flex;
  justify-content: center;
}
.headerItem:last-of-type {
    justify-self: flex-end;
}
.headerLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;  
}