.header {
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
  0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
  0px 0px 1px rgba(0, 0, 0, 0.04);
  background-color: #1C1C21;
  padding: 16px 0;
  margin: auto;
  max-width: 1280px;
}
.container {
 
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 104px;
}

.nav {
  display: flex;
  gap: 8px;
}

.button {
  padding: 16px 20px;
  text-decoration: none;
  display: flex;
  flex: none;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
  color: #8585ad;
  border-radius: 40px;
}

.button:hover {
  box-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.button_active {
  color:#f2f2f3;
}

.button_profile {
  margin-left: 280px;
}